<h1>Person#form</h1>
<p>Find me in app/views/person/form.html.erb</p>
<%= form_for post do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.submit "Create" %>
<% end %>
